<div class="home_head">
	<%= image_tag "facebook.png", :size => "173x29", :alt => "facebook", :id => "fb_login" %>
</div>

<div class="home_logo">
	<%= image_tag "logo.png", :size => "570x112", :alt => "Rainbowa", :id => "logo_img" %>
</div>

<div class="home_motto">
<p>Coolest Video Rainbow Encyclopedia.</p>
<p>Play it, Follow it, Contribute to it.</p>
</div>

<div class="home_middle">
	
</div>

<div id="gallery" >
</div>
<link rel="stylesheet" href="jquery.image-gallery.min.css">
<script src="jquery.image-gallery.min.js"></script>
<script type="text/javascript">
$(function () {	
	
	
    // Load images via flickr for demonstration purposes:
    $.ajax({
        url: 'http://api.flickr.com/services/rest/',
        data: {
            format: 'json',
            method: 'flickr.interestingness.getList',
            api_key: '7617adae70159d09ba78cfec73c13be3'
        },
	    dataType: 'jsonp',
      jsonp: 'jsoncallback',
	    success: function (data) {
            $.each(data.photos.photo, function (index, photo) {
                var url = 'http://farm' + photo.farm + '.static.flickr.com/' +
                    photo.server + '/' + photo.id + '_' + photo.secret;
                $('<a rel="gallery"></a>')
                    .append($('<img>').prop('src', url + '_s.jpg'))
                    .prop('href', url + '_b.jpg')
                    .prop('title', photo.title)
                    .appendTo('#gallery');
            });
        }
    });
		
		
});
</script>