
<div id="base"></div>

<script>
var times = new Array();
var shortcut = new Array();
var playhtml = new Array();
var dess = new Array();
var videos=new Array();
var lr=false;//0-left 1-right
var maxNumber=0;
var idtemp=0;
var dist=5;
var beginAnimeTime=300;
var endAnimeTime=300;
var videoDist = 230;
var playing = new Array();
var player;

<% @timeline.events.each do |event| %>
times[maxNumber] = '<%= event.time.to_s %>';
dess[maxNumber]='<%=escape_javascript event.description %>';
videos[maxNumber]='<%=event.video%>';
maxNumber++;
<% end %>
for(k=0;k<maxNumber;k++){
	playing[k]=false;
}

var maxLength=videoDist*maxNumber;
$('<div id="spur"></div>').appendTo("body");
$("#spur").css("height",videoDist*maxNumber+"px");
var length=100;
//get all events
for(var j=0;j<maxNumber;j++){
	$("#base").append("<div id='"+j+"' class='event'></div>");
	$("#"+j).css("position","absolute");
	$("#"+j).css("top",length+"px");
	/!--random the position part-/
	if(lr==true){
		$("#"+j).css("left","538px");
	}else{
		$("#"+j).css("left","59px");
	}
	lr=!lr;
	//assign the event content
	var pic='http://img.youtube.com/vi/'+videos[j]+'/hqdefault.jpg';
	var embeded='http://www.youtube.com/embed/'+videos[j];
	shortcut[j]='<div id='+j+' class="shortcut"><img src="'+pic+'" height="214px" width="379px" position="absolute" top="0px" left="10px"></img></div>';
	playhtml[j]='<iframe id="player" width="403px" height="227px" src="'+
	embeded+'?autoplay=1" frameborder="0" allowfullscreen></iframe>';
	$("#"+j).html(shortcut[j]);
	$("#"+j).append("<div>"+embeded+"</div><div class='describ'>"+dess[j]+"</div>");
	length+=videoDist;
}

// $(".shortcut").click(function() {
// 	var temp=$(this).attr("id");
// 	stopVideo()
// });
//the loop to build the rainbow
for(i=100;i<maxLength+100;i+=dist){
	var iterator=i-100;
	$("#spur").append("<div class='ruler' id='-"+i+"'><div class='innerRuler'></div></div>");
	$('#-'+i).css("top",iterator);
}
//rainbow hover function
$(".ruler").hover(function(){
	idtemp=parseInt($(this).attr("id"));
	wavein(idtemp);
},
function(){
	waveout(idtemp);
});	
//the click funtion of the spur
var topdist=0;
$("#spur").click(function(e){
	topdist=parseInt((e.pageY-100)/videoDist);

	for(k=0;k<maxNumber;k++){
		if(k==topdist){
			playing[k]=!playing[k];
			if(playing[k]==true)
			$("#"+k).find(".shortcut").html(playhtml[topdist]);
			else
			$("#"+k).find(".shortcut").html(shortcut[topdist]);
		}else{
			if(playing[k]==true){
				playing[k]=false;
				$("#"+k).find(".shortcut").html(shortcut[k]);
			}
		}
	}
	waveon();
	setTimeout("newYouTubePlay()",1000);
	// var tag = document.createElement('script');	
		// tag.src = "http://www.youtube.com/player_api";
		// var firstScriptTag = document.getElementsByTagName('script')[0];
		// firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
});

function waveon(){
	var waveid=-100-videoDist*topdist-Math.floor(Math.random()*(videoDist+1));
	wavein(waveid);
	waveout(waveid);
	if(playing[topdist]==false){
		return false;
	}
	setTimeout("waveon()",20);
}




function wavein(idtemp){
	$("#"+idtemp).animate({width:"60px",
	left:"-40px"},
	beginAnimeTime);
	$("#"+idtemp).find(".innerRuler").animate({height:"10px",top:"-5px"},beginAnimeTime);	
	var col = 'rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';
	$("#"+idtemp).find(".innerRuler").css("background-color",col);
	$("#"+(idtemp+dist)).animate({width:"50px",left:"-30px"},beginAnimeTime);
	$("#"+(idtemp-dist)).animate({width:"50px",left:"-30px"},beginAnimeTime);
	$("#"+(idtemp+2*dist)).animate({width:"45px",left:"-25px"},beginAnimeTime);
	$("#"+(idtemp-2*dist)).animate({width:"45px",left:"-25px"},beginAnimeTime);
}
function waveout(idtemp){
	$("#"+idtemp).animate({width:"24px",
	left:"-10px"},
	endAnimeTime);
	$("#"+idtemp).find(".innerRuler").animate({height:"4px",top:"-2px"},endAnimeTime);
	$("#"+(idtemp+dist)).animate({width:"24px",left:"-10px"},endAnimeTime);
	$("#"+(idtemp-dist)).animate({width:"24px",left:"-10px"},endAnimeTime);
	$("#"+(idtemp+2*dist)).animate({width:"24px",left:"-10px"},endAnimeTime);
	$("#"+(idtemp-2*dist)).animate({width:"24px",left:"-10px"},endAnimeTime);
}

function newYouTubePlay() {
	player = new YT.Player('player', {
		events: {
			'onStateChange': onPlayerStateChange
		}
	});
}
function onPlayerStateChange(event) {
	if (event.data == YT.PlayerState.ENDED) {
		$("#"+topdist).html(shortcut[topdist]);
		$("#"+(topdist+1)).html(playhtml[topdist+1]);
		topdist++;
		newYouTubePlay();
	}
}
</script>