<style>
</style>
2323
<div id="base"></div>
<div id="spane">
	
</div>
	<script>
	var times = new Array();
	var shortcut = new Array();
	var playhtml = new Array();
	var dess = new Array();
	var lr=false;//0-left 1-right
	var i=0;
	$("<div id='editPanel'>aa</div>").appendTo("body");
	$("#editPanel").css("visibility","hidden");
	<% @timeline.events.each do |event| %>
	  times[i] = <%= event.time-Time.new %>;
		dess[i]='<%= escape_javascript event.description %>';
		i++;
	<% end %>
	var min=Math.min.apply(null, times);
	var length=Math.max.apply(null,times)-min;
	 $("#spane").css("height",230*i+"px");
	length=100;
	for(var j=0;j<i;j++){
		$("#base").append("<div id='"+j+"' class='event'></div>");
		$("#"+j).css("position","absolute");
		$("#"+j).css("top",length+"px");

		/!--random the pisition part-/
		if(lr==true){
			$("#"+j).css("left","510px");
		}else{
			$("#"+j).css("left","79px");
		}
		lr=!lr;
		var video='8xg3vE8Ie_E';
		var pic='http://img.youtube.com/vi/'+video+'/hqdefault.jpg';
		var embeded='http://www.youtube.com/embed/'+video;
		console.log(pic);
		shortcut[j]='<div id='+j+' class="shortcut"><img src="'+pic+'" height="214px" width="379px" position="absolute" top="0px" left="10px"></img></div>';
	  playhtml[j]='<iframe width="403px" height="227px" src="'+
				embeded+'?autoplay=1" frameborder="0" allowfullscreen></iframe>';
		$("#"+j).html(shortcut[j]);
		$("#"+j).append("<div class='describ'>"+dess[j]+"</div>");
		length+=230;
	}
		$(".shortcut").click(function() {
			 var temp=$(this).attr("id");
			$(this).html(playhtml[temp]);});
		// $(document).click(function(e){
		// 		alert(e.pageX+','+e.pageY);
		// 	});
	
		
		$("#spane").click(function(e){
				var currentY=e.pageY;
				var currentX=e.pageX;
				$("#editPanel").css("top",currentY);
				$("#editPanel").css("left",currentX);
				$("#editPanel").css("visibility","visible");
 				$("#editPanel").toggle("fast");
		});
	</script>