// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#newEventPanel{
	background-color:black;
	color:white;
	opacity:0.7;
	position:absolute;
	padding-left:20px;
	width:300px;
	height:160px;
	left:100px;
	top:230px;
}

#ui-datepicker-div{
	font-size:12px;
}

#createTimeLine{
	background:DarkRed;
	opacity:1.0;
	padding:10px;
	position:absolute;
	top:30px;
	left:35%;
}

#timeline_description{
	width:300px;
	height:140px;
}
#timeline_subject{
	width:300px;
}
#timeline_photo{
	width:300px;
}
