// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_logo{
	text-align: center;
}

.home_motto{
	font-family:sans-serif;font-weight:bold;	
	text-align: center;
}

.home_middle{
	text-align: center;
	
}

#gallery_top{
	position: absolute;
	font-family:sans-serif;font-weight:bold;
	overflow:hidden;
}