// Place all the styles related to the Timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
.event{
	position:absolute;
	color:white;
	font-size:11px;
	width:411px;
	height:340px;
}
}

#timeStamp{
	height:20px;
	width:40px;
	color:white;
	position:absolute;
	left:474px;
}

#spur{
	position:absolute;
	opacity:0.8;
	top:65px;
	width:24px;
	left:500px;
	z-index:-1;
	.ruler{
		position:absolute;
		left:-10px;
		height:8px;
		width:24px;
		z-index:2;
		.innerRuler{
		background-color: #9416DD;
		height:4px;
		position:relative;
		top:-2px;
		z-index:3;
		}
	}
}

.shortcut{
	position:relative;
	left:0px;
	top:-0px;
	height:227px;
	width:403px;
}

.describ{
	height:168px;
	width:70;
	overflow:auto;
 }

#editPanel{
color:black;
	z-index: 1;
	height:100px;
	width:300px;
	background-color:white;
	position:absolute;
	top:90px;
	left:100px;
}

/* css for player button groups */
#shuffle_play_button{
	position: fixed;
	right: 0px;
	bottom: 0px;
	width:40px;
	height:40px;
}

#profile{
	position:absolute;
	top:90px;
	left:-5px;
	
#profileName{
	background-color:black;
	opacity:0.7;
	position:absolute;
	left:182px;
	height:40px;
	width:285px;
	color:Gold;
	font-size:25px;
	font-style: oblique;
	font-weight: 100;
	font-family: cursive;
}
#profileDes{
	background-color:black;
	color:white;
	position:absolute;
	top:40px;
	left:0px;
	height:70px;
	width:285px;
	font-size:15px;
	font-style: normal;
	font-weight: 100;
	font-family:"Times New Roman",Georgia,Serif;
}
#profilePic{
	opacity:1.0;
/*	background-image: url("default_profile.png");*/
	background-size:110px 110px;
	background-repeat:no-repeat;	
	img{
		height: 110px;
	}
	position:absolute;
	top:0px;
	left:70px;
	height:110px;
	width:147px;
}
#editProfilePic{
	position:absolute;
	top:112px;
	left:70px;
	width:100px;
	height: 20px;
	overflow:hidden;
}

}

#editRainbowDiv{
	position:absolute;
	left:0px;
	width:100px;
	z-index:-3;
}
