// Place all the styles related to the Timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
.event{
	position:absolute;
	color:white;
	font-size:11px;
	width:411px;
	height:400px;
}
}

#timeStamp{
	height:20px;
	width:40px;
	color:white;
	position:absolute;
	left:474px;
}

#spur{
	position:absolute;
	background-color:black;
	top:150px;
	width:24px;
	left:488px;
	z-index:-1;
	.ruler{
		position:absolute;
		left:-10px;
		background-color:black;
		height:8px;
		width:24px;
		z-index:2;
		.innerRuler{
		background-color: #9416DD;
		height:4px;
		position:relative;
		top:-2px;
		z-index:3;
		}
	}
}

.shortcut{
	position:relative;
	left:0px;
	top:-0px;
	height:227px;
	width:403px;
}

.describ{
	height:168px;
	width:70;
	overflow:auto;
 }

#editPanel{
color:black;
	z-index: 1;
	height:100px;
	width:300px;
	background-color:white;
	position:absolute;
	top:90px;
	left:100px;
}

/* css for player button groups */
#shuffle_play_button{
	position: fixed;
	right: 0px;
	bottom: 0px;
}

#profile{
	position:absolute;
	top:37px;
	left:0px;
	width:800px;
	height:110px;
#profileName{
	position:absolute;
	opacity:0.6;
	top:0px;
	left:225px;
	height:20px;
	width:575px;
	color:LIGHTBLUE;
	font-size:20px;
font-style: oblique;
font-weight: 50;
font-family: cursive; 
}
#profilePic{
	background-color:white;
	position:absolute;
	top:0px;
	left:70px;
	height:110px;
	width:147px;
	border-style:solid;
	border-width:1px;
	border-color:Gold;
}
#profileDes{
	background-color:PaleGoldenRod ;
	color:black;
	opacity:1.0;
	position:absolute;
	top:30px;
	left:1px;
	height:76px;
	width:575px;
	font-size:15px;
	font-style: normal;
	font-weight: 100;
	font-family:"Times New Roman",Georgia,Serif;
	border-style:solid;
	border-width:3px;
	border-color:Turquoise ;
}
}
