// Place all the styles related to the Timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
background-color:black;
.event{
	color:white;
	font-size:11px;
	width:411px;
	height:395px;
}
}

#timeStamp{
	height:20px;
	width:40px;
	color:white;
	position:absolute;
	left:474px;
}

#spur{
	position:absolute;
	background-color:black;
	top:100px;
	width:24px;
	left:488px;
	z-index:-1;
	.ruler{
		position:absolute;
		left:-10px;
		background-color:black;
		height:8px;
		width:24px;
		z-index:2;
		.innerRuler{
		background-color: #9416DD;
		height:4px;
		position:relative;
		top:-2px;
		z-index:3;
		}
	}
}

.shortcut{
	position:relative;
	left:0px;
	top:-0px;
	height:227px;
	width:403px;
}

.describ{
	height:168px;
	width:403px;
	overflow:auto;
 }

#editPanel{
color:black;
	z-index: 1;
	height:100px;
	width:300px;
	background-color:white;
	position:absolute;
	top:90px;
	left:100px;
}

/* css for player button groups */
#play_button{
	position: fixed;
	right: 0px;
	bottom: 250px;
}
#play_last_button{
	@extend #play_button;
	bottom: 200px;
}
#play_next_button{
	@extend #play_button;
	bottom: 150px;
}
#stop_play_button{
	@extend #play_button;
	bottom: 100px;
}
#shuffle_play_button{
	@extend #play_button;
	bottom: 50px;
}
